#selector-modules {
    position: absolute;
    top: 50px;
    left: 500px;
    .selector {
        width: 250px;
        &:first-of-type {
            margin-bottom: 10px;
        }
        .selector__control {
            border-radius: 0;
            border: 1px solid white;
            background-color: black;
            .selector__value-container {
                font-family: $pixelFontStack;
                .selector__placeholder {
                    color: #2B2B2A;
                }
                &.selector__value-container--has-value .selector__single-value {
                    color: white;
                }
            }
        }
        .selector__menu {
            background-color: black;
            color: white;
            font-family: $pixelFontStack;
            .selector__menu-list {
                .selector__option {
                    &.selector__option--is-focused {

                    }
                    &.selector__option--is-selected {
                        background-color: white;
                        color: black;
                    }
                }
            }
        }
    }
}

