#selector-modules {
    position: absolute;
    top: 50px;
    left: 510px;
    .selector {
        width: 250px;
        &:first-of-type {
            margin-bottom: 10px;
        }
        .label {
            font-family: $pixelFontStack;
            color: white;
            font-size: 12px;
            line-height: 15px;
            margin-bottom: 5px;
        }
        .selector__control {
            border-radius: 0;
            border: 1px solid white;
            background-color: black;
            .selector__value-container {
                font-family: $pixelFontStack;
            }
        }
        .selector__menu .selector__menu-list .selector__option {
            font-family: $pixelFontStack;
        }
            
        
    }
}

